*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/src/test
/app/src/androidtest
/gradle
.idea
local.properties
settings.gradle
gradlew
gradlew.bat
build.gradle
gradle.properties